<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/ImportCSS.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="Home.html"> <button  type="submit">Home</button></a></li>
        <li><a href="Produtos.html"> <button  type="submit">Produtos</button></a></li>
        <li><a href="FaleConosco.html"> <button type="submit" >Fale Conosco</button></a></li>
        <li><a href="Sobrenos.html"><button  type="submit">Sobre Nós</button></a></li>
      </ul>
    </nav>
  </header>
  <div>
  <h1 class="h1">Seja Bem-vindo!</h1>
  <p class="p">Conheça a ImportEco e se surpreenda!</p>
  </div>
  <p class="ou">ou</p>
  <div class="bcmp">
  <a  href="Comprar.html"><button  type="submit" href="Sobrenos.html">Comprar</button></a>
  </div>
  <div class="bsb">
  <a href="Sobrenos.html"><button type="submit">Conheça</button></a>
</div>
 </body>
</html>

