<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/ImportCSS.css">
</head>
<body class="bodylog">
    <form action="Home.html" method="post">
    <fieldset class="fieldlog">
        <img class="imglog" src="login.png">
        <div class="login">
        <label for="email">E-mail:</label><br>
        <input type="text" id="email" name="email" required><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha" required><br>

    </div>
    <div>
    <br><input class="chblog" type="checkbox">
</div>
    <input class="blog" type="submit" value="Login">
    </fieldset>
    <p class="p1">Não tem uma conta?</p>
   <a href="Cadastro.html"> <input class="blog2" action="Cadastro.html" type="button" value="Criar"></a>
</form>
</body>
</html>